---
- name: Install Nginx
  apt: pkg=nginx state=present update_cache=true

- name: Make ssl directory
  file: 
    path: "{{ cert_path }}"
    state: directory

- name: Copy cert and key to server
  copy:
    src: "{{ item }}"
    dest: "{{ cert_path }}"
  with_items: "{{ ssl_items }}"

- name: Make htpasswd directory
  file:
    path: "{{ htpasswd_path }}"
    state: directory

- name: Copy htpasswd for basic auth
  copy:
    src: htpasswd
    dest: "{{ htpasswd_path }}/htpasswd"
    mode: 0640
    
- name: Copy configuration for Nginx proxy
  template: src=default.conf dest=/etc/nginx/conf.d/default.conf
  notify: Restart Nginx
